<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">

          <h3 class="text-center mb-4">Register</h3>

          <form (ngSubmit)="register()">
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="username"
                name="username"
                required
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="password"
                name="password"
                required
              />
            </div>

            <div class="d-grid">
              <button class="btn btn-success">Register</button>
            </div>
          </form>

          <p class="text-center mt-3">
            Already have an account?
            <a routerLink="/login">Login</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>