<h2>Search Flights</h2>

<form [formGroup]="searchForm" (ngSubmit)="searchFlights()">
  <input formControlName="source" placeholder="Source (DEL)" />
  <input formControlName="destination" placeholder="Destination (BOM)" />
  <button type="submit">Search</button>
</form>

<table *ngIf="flights.length" border="1" cellpadding="10">
  <tr>
    <th>Flight</th>
    <th>From</th>
    <th>To</th>
    <th>Price</th>
  </tr>

  <tr *ngFor="let flight of flights">
    <td>{{ flight.flightNumber }}</td>
    <td>{{ flight.source }}</td>
    <td>{{ flight.destination }}</td>
    <td>{{ flight.price }}</td>
  </tr>
</table>